body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: white;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 2rem;
}

.increment-box {
    margin-bottom: 1rem;
}

.top-rank {
    border-top: 1px solid #ddd;
    padding-top: 1rem;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

h2 {
    margin-top: 0;
    font-size: 1.8rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4caf50;
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
}

input[type="number"] {
    width: 4rem;
    padding: 0.3rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 0.5rem;
}

.wallet-info {
    background-color: #222;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.wallet-info p {
    margin: 0;
    font-size: 1.2rem;
}

.increment-box p {
    font-size: 1rem;
}

#featuredImage {
    max-width: 100%;
    border: 2px solid #4caf50;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
}
